<div *ngIf="isError" class="alert alert-warning" role="alert">
  {{ alertMessage }}
</div>
<div *ngIf="isSuccess" class="alert alert-success" role="alert">
  {{ alertMessage }}
</div>

<form *ngIf="!isSuccess" class="w-75 pl-5 mt-3" [formGroup]="passwordResetForm">
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="newPass1" type="password"  minlength="8" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Re-enter Password</label>
    <input formControlName="newPass2" type="password"  minlength="8" class="form-control" id="exampleInputPassword2">
  </div>
  <small id="passwordHelpBlock" class="form-text text-muted">
    Your password must be 8-15 characters long, contain letters and numbers.
  </small>
  <button type="button" [disabled]="!passwordResetForm.valid" (click)="onSubmit()" class="btn btn-primary mt-3">Submit</button>
</form>
